body {
  background-color: rgb(218, 245, 218);
  font-family: sans-serif;
  font-size: medium;
}
header {
  background-color: rgb(145, 188, 236);
  text-align: center;
  color: rgb(34, 33, 34);
}
main {
  text-align: justify;
  color: rgb(46, 83, 131);
}
.Inicios {
  font-family: cursive;
  background-color: rgb(221, 192, 228);
  margin: 10px;
  display: inline-block;
  padding: 50px;
}
.Nuestropropósito {
  background-color: rgb(124, 30, 148);
  margin: 20px;
  display: inline-block;
  padding: 50px;
  border: 5px solid rgb(16, 15, 17);
}
.Loquerepresentamos {
  text-align: justify;
  background-color: blueviolet;
  margin: 20px;
  display: inline-block;
  padding: 50px;
  border: 5px solid rgb(17, 17, 17);
}

.foot{
    background: linear-gradient(160deg, #22c3c3f6 0%, #fdbb2df1 100%);
}

.foot h4{
    font-family: monospace;
    color: rgb(53, 61, 61);
    padding: 0%;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
}

.left,
.right {
  float: center;
  width: 20%;
  background-color: darkcyan;
}

.main {
  float: center;
  width: 1000%;
  background-color: darkgray;
}
.creadora {
  float: center;
}
.estadística {
  background-color: cadetblue;
}
img {
  width: 30%;
}
